<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{{ url_for('static', filename='upgrader.js') }}"></script>
    <!-- <title>Cisco IOS Upgrade</title> -->
</head>

<body>
    <h1 class="text-center mt-4">Cisco IOS Upgrader</h1>
    <div class="container">
        <div class="form-group mt-4 w-75">
            <label for="devi_model" class="font-weight-bold">Device type: </label>
            <select id="devi_model" class="form-control w-25 d-inline">
                <option value="">- Select one device type -</option>
                <!-- <option value="-" disabled>---------------</option> -->
                <option value="ASR-920">ASR 920</option>
                <option value="ISR-4200">ISR 4200</option>
                <option value="ISR-4300">ISR 4300</option>
                <option value="ISR-4400">ISR 4400</option>
                <!-- <option value="-" disabled>---------------</option> -->
                <option value="mix">Any/Mix - ASR920, ISR4x00</option>
            </select>
        </div>
        <div class="d-flex justify-content-between">
            <div class="w-75 ml-4">
                <div class="form-control w-25 border border-white" id="radio_inp">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="net" id="off" value="off">off net
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="net" if="on" value="on">on net
                        </label>
                    </div>
                </div>
            </div>
            <div class="mt-4 mb-2 mr-3" id="switch_div">
                <!-- <input type="checkbox" checked data-toggle="toggle" data-on="Ready" data-off="Not Ready" data-onstyle="success" data-offstyle="danger" id="switch1"> -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="switch1">
                    <label class="custom-control-label" for="switch1">&nbsp;</label>
                </div>
            </div>
        </div>
        <!-- <hr> -->
        <div class="progress">
            <div class="progress-bar bg-success" style="width:0%"></div>
        </div>
        <div id="s1_div">
            <div id="s1_i_div">
                <div class="alert alert-dark alert-dismissible mt-3 text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Please enter the IP addresses of the hosts below that you're upgrading:<br>
                    <!-- <span class="font-italic small">
                        <img src="{{ url_for('static', filename='icons/map-marker-check-light.svg') }}" alt="prompt icon"
                            width="14" height="14">
                        For quicker file parsing, populate data in the first columns/rows of your file.
                    </span> -->
                    <div id="off_net_prompt_div" class="font-italic small mt-1" style="display: none;">
                        <img src="{{ url_for('static', filename='icons/map-marker-times-light.svg') }}" alt="times icon"
                            width="15"
                            height="15">10.0.0.0/8&nbsp;&nbsp;&nbsp;172.16.0.0/12&nbsp;&nbsp;&nbsp;192.168.0.0/16&nbsp;&nbsp;&nbsp;198.18.0.0/15&nbsp;&nbsp;&nbsp;
                        <!-- <img src="{{ url_for('static', filename='icons/map-marker-times-light.svg') }}" alt="times icon"
                            width="14" height="14">172.16.0.0/12&nbsp;&nbsp;&nbsp;
                        <img src="{{ url_for('static', filename='icons/map-marker-times-light.svg') }}" alt="times icon"
                            width="14" height="14">192.168.0.0/16&nbsp;&nbsp;&nbsp;
                        <img src="{{ url_for('static', filename='icons/map-marker-times-light.svg') }}" alt="times icon"
                            width="14" height="14">198.18.0.0/15&nbsp;&nbsp;&nbsp; -->
                    </div>
                    <div id="on_net_prompt_div" class="font-italic small mt-1" style="display: none;">
                        <img src="{{ url_for('static', filename='icons/map-marker-check-light.svg') }}" alt="check icon"
                            width="15" height="15">198.18.0.0/15
                    </div>
                </div>
                <div class="form-group w-25 mt-5">
                    <label for="num_devi" class="font-weight-bold">Number of device(s):</label>
                    <input type="number" name="num_devi" id="num_devi" min="1" value="1"
                        class="form-control d-inline w-25">
                </div>
                <br>
                <div class="w-75 mx-auto">
                    <!-- <table> -->
                    <!-- <tr><td> -->
                    <div id="inps_div" class="d-flex flex-column w-25 mx-auto">
                        <input type="text" placeholder="X.X.X.X" class="form-control">
                    </div>
                    <!-- </td></tr> -->
                    <!-- </table> -->
                </div>
                <!-- <br><br><br><br><br>
                <button type="button" id="proceed_i_btn1" class="btn btn-outline-secondary btn-block">
                    Proceed</button> -->
            </div>
            <div id="s1_f_div" style="display: none;">
                <div class="alert alert-dark alert-dismissible mt-3 text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Please upload a <i><b>.xlsx</b></i> file below in which contains IP addresses of the hosts that
                    you're upgrading:
                    <div class="font-italic small mt-1">
                        <img src="{{ url_for('static', filename='icons/lightbulb-on-light.svg') }}" alt="prompt icon"
                            width="16" height="16">
                        For quicker file parsing, populate data in the first columns/rows of your file.
                    </div>
                </div>
                <br><br><br>
                <form enctype="multipart/form-data">
                    <div class="d-flex justify-content-center">
                        <input type="file" class="form-control pt-1 w-25" name="ip_f" id="f_inp">
                    </div>
                </form>
                <!-- <br><br><br><br><br>
                <button type="button" id="proceed_btn1" class="btn btn-outline-secondary btn-block">
                    Proceed</button> -->
            </div>
            <br><br><br><br><br>
            <button type="button" id="proceed_btn1" class="btn btn-outline-secondary btn-block">
                Proceed</button>
        </div>
        <div id="s2_div" style="display: none;">
            <div class="alert alert-dark alert-dismissible mt-3 text-center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <!-- <img src="{{ url_for('static', filename='icons/clipboard-list-check-light.svg') }}" alt="file icon"
                    width="18" height="20" class="mb-1 mr-1"> -->
                    Below are all the IP addresses in your file:
            </div>
            <div class="d-flex justify-content-between mb-5 mt-5">
                <div class="ml-4">
                    <button type="button" class="btn btn-danger">
                        Invalid <span class="badge badge-light" id="danger_bd_div"></span>
                    </button>
                    <button type="button" class="btn btn-success">
                        Valid <span class="badge badge-light" id="success_db_div"></span>
                    </button>
                </div>
                <div class="mr-4">
                    <button type="button" class="btn btn-secondary">
                        Total <span class="badge badge-light" id="info_bd_div"></span>
                    </button>
                </div>
            </div>
            <div id="invalid_ip_odiv" class="w-75 m-auto shadow-sm rounded-lg" style="display: none;">
                <div class="d-flex justify-content-end bg-light py-2 px-3 rounded-top">
                    <button class="btn btn-sm" data-toggle="tooltip" data-placement="left" title="Remove all invalid">
                        <img src="{{ url_for('static', filename='icons/window-close-light.svg') }}" alt="remove icon"
                            height="18" width="18">
                    </button>
                </div>
                <!-- <hr> -->
                <!-- <div class="border-bottom mb-3 pt-1"></div> -->
                <div class="d-flex flex-wrap justify-content-begin p-4" id="invalid_ip_div">
                    <!-- <input type="text" name="" id="" class="form-control w-25">
                    <input type="text" name="" id="" class="form-control w-25">
                    <input type="text" name="" id="" class="form-control w-25">
                    <input type="text" name="" id="" class="form-control w-25"> -->
                </div>
            </div><br><br>
            <div id="valid_ip_odiv" class="w-75 m-auto bg-light p-4 shadow-sm rounded-lg" style="display: none;">
                <div id="valid_ip_div" class="d-flex flex-wrap justify-content-begin"></div>
            </div>
            <br><br><br><br><br>
            <button type="button" id="proceed_btn2" class="btn btn-outline-secondary btn-block">Proceed</button>
            <br><br><br>
        </div>
        <div id="s3_div" style="display: none;">
            <div class="alert alert-dark alert-dismissible mt-3 text-center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Please enter your email below to get notified of the progress in your devices' upgrading:<br>
                <span class="font-italic small">
                    <img src="{{ url_for('static', filename='icons/paper-plane-light.svg') }}" alt="plane icon"
                        width="13" height="13" class="mb-1">
                    Two emails will be sent out.
                </span>
            </div>
            <br><br><br>
            <div class="d-flex justify-content-center">
                <input type="email" id="email" class="form-control w-25" placeholder="Account@granitenet.com">
            </div>
            <br><br><br><br><br>
            <button type="button" id="proceed_btn3" class="btn btn-outline-secondary btn-block">Get started</button>
        </div>
        <div id="s4_div" style="display: none;"></div>
    </div>
</body>

</html>